
.form-container{
  width: 50%;
  form {
    background: var(--white);
  
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  
    input {
      border: 1px solid var(--grayish-blue);
    }

    span {
      color: var(--dark-blue);
      font-size: .8rem;
    }
  }
}