
.form-container{
  margin: 20px;
  justify-self: center;
  align-self: center;
  width: calc(100% - 10px);

  .description {
    background: var(--purple);
    border-radius: var(--border-radius);
    box-shadow: var(--box-shadow);
    padding: 10px;
    text-align: center;
    margin-bottom: 20px;

    strong{
      font-weight: var(--bold);
    }
  }

  form {
    background: var(--white);
    border-radius: var(--border-radius);
    box-shadow: var(--box-shadow);
    padding: 20px;
  
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  
    input {
      border: 1px solid var(--grayish-blue);
      height: 30px;
      padding: 10px;
      width: calc(100% - 40px);
    }

    button{
      height: 40px;
      width: calc(100% - 20px);

      background: var(--green);
      border: none;
      cursor: pointer;

      color: var(--white);
      font-size: 1rem;
      font-weight: var(--bold);
      transition: opacity 250ms ease;

      &:hover{
        opacity: .7;
      }
    }

    span {
      color: var(--dark-blue);
      margin: 5px 20px;
      font-size: .7rem;
      text-align: center;

      a {
        color: var(--red);
        font-weight: var(--bold);
        text-decoration: none;
      }
    }

    input,
    button {
      margin: 5px;
      border-radius: 5px;
    }

  }
}

@media(min-width: 992px){
  .form-container{
    width: calc(100% - 100px);
  }
}

@media(min-width: 740px){
  .form-container{
    margin: 50px 20px;
    width: calc(100% - 40px);

    form span{
      text-align: inherit;
      margin: 0;
    }
  }
}