html,
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: var(--font-family);
  font-size: var(--font-size);
}

#root{
  min-height: 100vh;
  background: var(--bg);
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: column;

}

:root {
  --font-size: 16px;
  --font-family: Poppins;
  --mobile: 375px;
  --desktop: 1440px;

  --white: hsl(0, 0%, 100%);
  --red: hsl(0, 100%, 74%);
  --green: hsl(154, 59%, 51%);
  --purple: hsl(239, 67% ,61%);
  --blue: hsl(0, 0%, 100%);
  --dark-blue: hsl(249, 10%, 26%);
  --grayish-blue: hsl(246, 25%, 77%);

  --light: 400;
  --normal: 500;
  --semi-bold: 600;
  --bold: 700;

  --box-shadow: 0 0 100px rgba(0,0,0,0.1);
  --border-radius: 10px;
  --bg: url('../images/bg-intro-desktop.png');
}
